/*main.css*/
@charset "UTF-8";

@import url(common.css);
@import url("my-imported-styles.css");

/*імпорт шрифтів font-awesome за допомогою правила @import*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

body {
    color: var(--primary-text-color) ;
    background: var(--primary-bg-color);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.45rem;
}

h2 {
    font-size: 1.3rem;
}

.list-unstyled {
    list-style: none;
}

.footer-social .list-unstyled a {
    color: #191970;
}

.footer-legal p {
    color: beige;
    background-color: #191970;
}
