/*common.css*/

:root {
    --primary-text-color: #fafafa;
    --primary-bg-color: #1B1611;
    --primary-font-family: 'Syne', sans-serif;
	--primary-font-size: 0.875rem;
    --product-cards-font-family: 'Inter', sans-serif;
}

/*header*/

.logo {
    margin: 10px;
    padding: 5px;
    background-color: var(--primary-bg-color);

    #menu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-bg-color);
    }

        a {
            color: var(--primary-text-color);
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 2rem;
    }
    
    a:hover {
        color: #28FD64;
    }

}

/*new releases*/
.new-releases {
    background: url(/e-commerce/images/cover1.jpg);
    background-position: center center;
    background-size: cover;
    height: 35rem;
}

.n-releases {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--primary-text-color); 
}

.n-releases h1 {
    font-size: 55px; 
    margin-bottom: 10px; 
}

.n-releases h3 {
    font-size: 26px; 
    background-color: #212AFF;
    stroke: #fafafa;
    stroke-width: 100%;
}

.running-line {
    background-color: #28FD64;
}

/*featured products*/

.main-page-products {
    margin: 10px;
    padding: 5px;

    > h1 {
        font-size: xx-large;
        text-transform: uppercase;
        text-align: left;
        margin: 2rem;
    }
}

.featured-products {
    font-family: var(--product-cards-font-family);
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    overflow-x: auto;
}

.price {
    color: #28FD64;
}
.price::before {
    content: '\0024'
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
    margin-right: 2rem;
    padding-right: 3rem;

    > p {
        text-align: left;
        text-transform: uppercase;
    }
    > .price:nth-of-type(1) {
        float: right;
}
}



/*top-selling*/
