.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    /* grid-gap: 20px; */
    
    justify-content: space-between;
    grid-template-areas: 
    'h h h'
    's m m'
    'f f f';
}

.header {
    grid-area: h;
}

.main {
    grid-area: m;
}

.sidebar {
    grid-area: s;
}

.footer {
    grid-area: f;
}
